@using BOL
@{
    ViewData["Title"] = "Home Page";
    var product = ViewData["productDetails"] as Product;
}
<div class="row">
    <div class="col-md-8" >
        @{
        string imgstr = product.ImageUrl;
            if(imgstr==null){
            imgstr = "/images/" + product.Name + ".jpg";
            }
            <img src=@imgstr class="img-responsive" width=450>
        }
    </div>
    <div class="col-md-4">
        
        <form action="/Products/AddToCart">
            <table>

                <tr>
                    <td>Name</td>
                    <td>@product.Name</td>
                </tr>
                <tr></tr>
                <td>Description</td>
                <td>@product.Description</td>
                </tr>
                <tr></tr>
                <td>UnitPrice</td>
                <td>@product.UnitPrice</td>
                </tr>
                <tr></tr>
                <td>Quantity</td>
                <td>@product.Quantity</td>
                </tr>
                <tr><td><button type="submit" class="btn btn-success" id="ToCart" name="ToCart">Add to Cart</button></td></tr>

            </table>
        </form>
        
    </div>
</div>