@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact us</h1>
    <p>Email: gojerjeremy@gmail.com</p>
    <p>Contact Number:7019294131</p>
    <p>Pune</p>
</div>
