@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>MyEComApp</b></h1>
    <div>
        <h6>Explore Our Products</h6></br>
        <div class="row">
            <div class="col-md-4">
                <a href="/Products/?id=1"><img src="\images\Electronics.jpg" height=200/></a>
            </div>
            <div class="col-md-4">
                <a href="/Products/?id=2"><img src="\images\Fashions.jpg" height=200/></a>
                
            </div>
            <div class="col-md-4">
                <a href="/Products/?id=3"><img class="image" src="\images\Decorations.jpg" height=200/></a>
            </div>
        </div>
    </div>
    
</div>
