@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>MyEComApp</b></h1>
    <div>
        <h6>Explore Our Products</h6></br>
        <div class="row">
            <div class="col-md-4">
                <div class="category-image">
                <a href="/Products"><img src="\images\Electronics.jpg" height=200/>
                <div class="bottom-right"><b>Electronics</b></div></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-image">
                <a href="/Products"><img src="\images\Fashions.jpg" height=200/>
                <div class="bottom-right"><b>Fashion</b></div></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-image">
                <a href="/Products"><img src="\images\Decorations.jpg" height=200/>
                <div class="bottom-right"><b>Decorations</b></div></a>
                </div>
                </a>
            </div>
        </div>
    </div>
    
</div>
