@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyEComApp</h1>
    <div>
        Explore Products</br>
        <a href="/Products">Products</a>
    </div>
    
</div>
