@using BOL
@{
    ViewData["Title"] = "Home Page";
    
}

<div>
    <div class="text-center">
        <h1 class="display-4">Your Cart</h1>
    </div>
    <div>
        My items will be here
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">To Payment</button>
        <button type="button" class="btn btn-primary">Back To Products</button>
        
</div>

</div>