@{
    ViewData["Title"] = "MyECommerceApp";
}
<div class="text-center">
    <h1 class="display-4"><b>Select from our rich catalog of products</b></h1>
    <ul>
        <li><a href="Electronics">Electronics</a></li>
        <li><a href="Fashion">Fashion</a></li>
        <li><a href="Home">Home</a></li>
        <li><a href="Beauty">Beauty</a></li>
        <li><a href="Essentials">Essentials</a></li>
    </ul>
</div>