@{
    ViewData["Title"] = "MyECommerceApp";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome To MyECommerceApp</b></h1>
    <a href="/Products/Catalog">Catalog</a>
    <form action="/Products/Result" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Select from the following list of popular products" aria-label="Search" id="search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>