@using BOL
@{
    ViewData["Title"] = "Home Page";
    @* IProductServices productServices = new ProductServices();
    var products = productServices.GetAllProducts(); *@
    List<Product> products = ViewData["products"] as List<Product>;
}

<div>
    <div class="text-center">
        <h1 class="display-4">Products</h1>
        
    </div>
    <hr/>
    <table border='1'>
        @foreach (var product in products)
        {
            <tr><td><a href="Products/Details/@product.Id">@product.Name</a></td><td><a href="http://www.google.com/search?q=@product.Name&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiK_Mmp09_8AhWVR3wKHXF-DlwQ_AUoAXoECAEQAw&biw=1024&bih=657&dpr=1">Google</a><td></tr>    
        }
    </table>
    <hr/>
    <a href="Products/Insert">Add More Products</a>
    
</div>
