@using BOL
@{
    ViewData["Title"] = "Home Page";
    @* IProductServices productServices = new ProductServices();
    var products = productServices.GetAllProducts(); *@
    List<Product> products = ViewData["products"] as List<Product>;
}
<h1>Add Product</h1>
<hr/>
<form  method="POST" action="/Products/Insert">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="name" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="description" class="form-control" id="description" name="description">
  </div>
  <div class="form-group">
    <label for="unitPrice">Unit Price:</label>
    <input type="unitPrice" class="form-control" id="unitPrice" name="unitPrice">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input type="quantity" class="form-control" id="quantity" name="quantity">
  </div>
  <div class="form-group">
    <label for="imageUrl">Image Url:</label>
    <input type="imageUrl" class="form-control" id="imageUrl" name="imageUrl">
  </div>
  <button type="submit" class="btn btn-success">Add to Catalog</button>
  
</form>